= simple_form_for(address.present? ? address : Address.new, as: :address, validate: true, remote: true, url: address_path, method: :put, html: { id: type }) do |f|
  = render partial: 'addresses/partials/fields', locals: { f: f, type: type }
  = f.button :submit, t('addresses.save')
