.general-message-wrap.divider-lg
  .clearfix
    %img.img-circle.logo-size.inlide-block.pull-left{src: image_url('default_book')}
    .ml-70
      %div
        .general-message-date.hidden-xs 11/11/16
        .max-240
          .general-message-verified Verified Reviewer
          .general-message-name Rita J. Lewis
      .mb-15
        %i.fa.fa-star.rate-star
        %i.fa.fa-star.rate-star
        %i.fa.fa-star.rate-star
        %i.fa.fa-star.rate-star
        %i.fa.fa-star.rate-star
      %p Thank you BookStore, I was very pleased to receive my order for the Moleskine diary so soon after placing the order.
